In [8]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   species
0        0
1        0
2        0
3        0
4        0

In [11]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
missing_values = df.isnull().sum()
print(missing_values)

print(df.describe())
print("\nDataset Dimensions:", df.shape)

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)     species
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

Dataset Dimensions: (150, 5)

In [12]:

print(df.describe())
print("\nDataset Dimensions:", df.shape)

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)     species
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

Dataset Dimensions: (150, 5)

In [14]:
print("Display the first 5 rows of the dataset")
print(df.head(n=5))
print("Display the last 5 rows of the dataset")
print(df.tail(n=5))
print("Display the index of the dataset")
print(df.index)
print("Display the column names of the dataset")
print(df.columns)

Display the first 5 rows of the dataset
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                  1               0.2
1                4.9               3.0                  1               0.2
2                4.7               3.2                  1               0.2
3                4.6               3.1                  1               0.2
4                5.0               3.6                  1               0.2

   species
0        0
1        0
2        0
3        0
4        0
Display the last 5 rows of the dataset
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
145                6.7               3.0                  5               2.3
146                6.3               2.5                  5               1.9
147                6.5               3.0                  5               2.0
148                6.2               3.4                  5               2.3
149                5.9               3.0                  5               1.8

     species
145        2
146        2
147        2
148        2
149        2
Display the index of the dataset
RangeIndex(start=0, stop=150, step=1)
Display the column names of the dataset
Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')

In [15]:
print("Display summary statistics for all columns (including categorical data")
print(df.describe(include='all'))
print("Access the 'sepal length (cm)' column")
print(df['sepal length (cm)'])

Display summary statistics for all columns (including categorical data
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.306667
std             0.828066          0.435866           1.772068
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.000000
50%             5.800000          3.000000           4.000000
75%             6.400000          3.300000           5.000000
max             7.900000          4.400000           6.000000

       petal width (cm)     species
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000
Access the 'sepal length (cm)' column
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [18]:
df_sorted = df.sort_index(axis=1, ascending=False)
print("Display the sorted DataFrame")
print(df_sorted.head())
df_sorted = df.sort_index(axis=1, ascending=False)
print("Display the sorted dataset")
print(df_sorted.head())
print("Access the 6th row of the dataset using iloc (index position 5)")
print(df.iloc[5])

print("Access the rows from index 0 to 2 (first 3 rows)")
print(df[0:3])

Display the sorted DataFrame
   species  sepal width (cm)  sepal length (cm)  petal width (cm)  \
0        0               3.5                5.1               0.2
1        0               3.0                4.9               0.2
2        0               3.2                4.7               0.2
3        0               3.1                4.6               0.2
4        0               3.6                5.0               0.2

   petal length (cm)
0                  1
1                  1
2                  1
3                  1
4                  1
Display the sorted dataset
   species  sepal width (cm)  sepal length (cm)  petal width (cm)  \
0        0               3.5                5.1               0.2
1        0               3.0                4.9               0.2
2        0               3.2                4.7               0.2
3        0               3.1                4.6               0.2
4        0               3.6                5.0               0.2

   petal length (cm)
0                  1
1                  1
2                  1
3                  1
4                  1
Access the 6th row of the dataset using iloc (index position 5)
sepal length (cm)    5.4
sepal width (cm)     3.9
petal length (cm)    1.0
petal width (cm)     0.4
species              0.0
Name: 5, dtype: float64
Access the rows from index 0 to 2 (first 3 rows)
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                  1               0.2
1                4.9               3.0                  1               0.2
2                4.7               3.2                  1               0.2

   species
0        0
1        0
2        0

In [20]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
le = LabelEncoder()
df['species'] = le.fit_transform(df['species'])
print("\nDataFrame after Label Encoding:")
print(df.head())

DataFrame after Label Encoding:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   species
0        0
1        0
2        0
3        0
4        0

In [19]:
print("Data Types of the Columns:")
print(df.dtypes)
df['species'] = df['species'].astype('category')
print("Updated Data Types:")
print(df.dtypes)

Data Types of the Columns:
sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)      int64
petal width (cm)     float64
species                int64
dtype: object
Updated Data Types:
sepal length (cm)     float64
sepal width (cm)      float64
petal length (cm)       int64
petal width (cm)      float64
species              category
dtype: object